*.dat
*.o
*.pyc
*.pro.user
*.swp # vim swap file
*.netrc

bin/
build/*
client_secrets.json
credentials.json

# Visual Studio
*.ipch
*.manifest
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.user
msvc/msvc2010/win32/GeneratedFiles/*
msvc/msvc2010/win32/Debug/*
msvc/msvc2010/win32/Release/*



